@model FSUsinagem.Models.Pedido
@{
    ViewBag.Title = "Painel De Pedidos";
}

<h2>Painel De Pedidos</h2>
<table border = "1">
    <thead>
       <tr>
           <th>
               Em Aberto            
           </th>
           <th>
                Aprovados
           </th>
           <th>
                Em Produção
           </th>
           <th>
                Entregue nos ultimos 7 dias
           </th>
       </tr> 
    </thead>
    <tbody>
        <tr>
            
            <td>           
               <font size =" 2"> 1003 - POLY BLA BLA BLA - R$ 10.000,00 - 9 Dias <br />
                1003 - POLY BLA BLA BLA - R$ 10.000,00 - 9 Dias<br />
                1003 - POLY BLA BLA BLA - R$ 10.000,00 - 9 Dias
            </td>

            <td>
               <font size =" 2"> 1003 - POLY BLA BLA BLA - R$ 10.000,00 - 9 Dias</font>
            </td>
            <td>
               <font size =" 2"> 1003 - POLY BLA BLA BLA - R$ 10.000,00 - 9 Dias</font>
            </td>
            <td>
               <font size =" 2"> 1003 - POLY BLA BLA BLA - R$ 10.000,00 - 9 Dias</font>
            </td>
            
        </tr>
    </tbody>
</table>
