@model List<FSUsinagem.Models.EstadoDoPedido>
@{
    ViewBag.Title = "Painel De Pedidos";
}

<h2>Painel De Pedidos</h2>
<table border = "1">
    <thead>
       <tr>
           @foreach (var Estado in Model)
           {                    
           <th>
               @Estado.Descricao            
           </th>
           }    
       </tr> 
    </thead>
    <tbody>
        <tr>
            @foreach (var Estado in Model)
            {                                                   
            <td>
                @foreach (var Pedido in Estado.Pedidos)
                {              
                <div>@Pedido.PedidoId - POLY BLA BLA BLA - R$ 10.000,00 - @Pedido.PrevisaoDeEntrega</div> 
                }
            </td>
            }
        </tr>
    </tbody>
</table>
